

* {
  font-family: "SST Arabic";
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
button {
  line-height: unset !important;
  margin-bottom: 0 !important;
  position: relative;
  bottom: 0.06em;
}

input,
button,
select,
optgroup,
textarea {
  line-height: unset !important;
}

p {
  margin-top: -3px !important;
  overflow: hidden;
}

.btn,
.page-link {
  padding: 4px 20px 8px !important;
}


@media only screen and(max-width: 768px) {
  h1 {
    font-size: 22px !important;
  }

  h2,
  h3 {
    font-size: 20px !important;
  }

  h4,
  h5,
  button,
  label {
    font-size: 18px !important;
  }

  p,
  a {
    font-size: 14px !important;
  }
}

@media only screen and(max-width: 465px) {
  h1 {
    font-size: 18px !important;
  }

  h2,
  h3 {
    font-size: 16px !important;
  } 

  h4,
  h5{
    font-size: 14px !important;
  }

  button,
  label {
    font-size: 12px !important;
  }

  p,
  a {
    font-size: 12px !important;
  }

  button, .btn{
    padding: 4px 10px !important;
  }
}


